h1, h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

h3 {
  text-align: center;
}

h4 {
  color: rgba(67, 67, 67, 0.857);
  margin: 10px;  
  padding: 20px;
  background-color: rgb(218, 239, 246);
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 1px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);

}

.answerButtons {
  width: 200px;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, rgb(251, 248, 248), rgb(216, 240, 238));
  padding: 5px;
}

.questions {
  padding: 10px;
  border: 2px solid black;
}

.single-question {
  border: 2px solid black;
  padding: 10px;
}

.category-card {
  display: inline-grid;
  width: 200px;
  height: 120px;
  text-align: center;
}