.header {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

h4 {
  margin: 10px;  
  padding: 20px;
  background-color: rgb(218, 239, 246);
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);

}

.questions {
  padding: 10px;
  border: 2px solid black;
}

.single-question {
  border: 2px solid black;
  padding: 10px;
}

.category-card {
  display: inline-grid;
  width: 200px;
  height: 120px;
  text-align: center;
}